/* NAVBAR TIENDA INICIO */
.navbar-tienda {
  padding: 0 40px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.navbar-tienda .menu {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.navbar-tienda .search {
  width: 810px;
  height: 37px;
  padding: 1px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  border-radius: 18.5px;
  background-color: #ffffff;
}

.navbar-tienda .search input {
  width: 100%;
  background: transparent;
  font-size: 17px;
  color: black;
  border: none;
}

.navbar-tienda .login,
.navbar-tienda .shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-tienda .login i,
.navbar-tienda .shopping-cart i,
.navbar-tienda .menu i {
  font-size: 29px;
  color: white;
}

.menu-tienda {
  width: 272px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  background: #d9d9d9;
}

.noShow {
  display: none;
}

.noShowAccount {
  display: none;
}

.menu-tienda p {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.menu-tienda .menu-tienda-opciones ul {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.menu-tienda .menu-tienda-opciones ul li {
  margin: 0 0 20px 10px;
}

.menu-tienda-session {
  padding: 10px;
  position: absolute;
  top: 145px;
  background: #d9d9d9;
  color: black;
  z-index: 2;
}

.menu-tienda .menu-tienda-session ul {
  font-size: 20px;
  font-weight: 800;
}

.menu-tienda .menu-tienda-session ul li {
  margin: 10px;
}

/* NAVBAR TIENDA FIN */

/* VENTA ONLINE PRINCIPAL INICIO */

.descubre img {
  /* margin-top: -5px; */
  width: 100%;
  height: auto;
  max-width: 100%;

}
@media (max-width: 450px) {
  .descubre img {
     /* margin-top: -5px;*/
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.explorar {
  width: 100%;
  height: auto;
  margin-top: -5px;
  background: #aaa;
}

.explorar h4 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 40px;
  text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}

.explorar .explorar-images {
  padding: 50px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: auto;
}

.explorar .container-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 15px;
}

@media (max-width: 450px) {
  .explorar .container-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 12px;
  }
}

.explorar .card-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 340px;
  border-radius: 22px;
  border: 1px solid #000;
  background: #fff;
  padding: 10px;
}
.explorar .card-category img{
  width: 70%;
  height: auto;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .explorar .card-category img{
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }  
}

.explorar .card-category .container-images__link img {
  display: block;
  margin: 0 auto;
}

.explorar .card-category p {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
}

.prepared {
  height: 330px;
  padding-top: 200px;
  background-image: url(../assets/venta-online/principal/prepared-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.prepared a {
  padding: 10px 30px;
  border-radius: 37px;
  background-color: #B40808;
  color: #fff;
  text-align: center;
  font-size: 23px;
  font-weight: 900;
  display: block;
  width: max-content;
  margin: 0 auto;
}

/* VENTA ONLINE PRINCIPAL FIN */

/* VENTA ONLINE PRODUCTOS INICIO */
.venta-online-main-container {
  padding: 70px 100px;
}

.venta-online-main-container .products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.products-container .product-card {
  width: 280px;
  padding: 40px 40px 10px 40px;
  border: 1px solid black;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.products-container .product-card * {
  margin: 5px 0;
}

.products-container .product-card .product-image img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.products-container .product-card .product-name {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  line-height: normal;
}

.products-container .product-card .product-price {
  font-size: 36px;
  font-weight: 600;
  color: #ff0000;
  text-align: center;
}

/* VENTA ONLINE PRODUCTOS FIN */

/* SIGN IN INICIO */
.sign-in-container {
  margin-top: 95px;
  padding: 100px;
  display: grid;
  place-items: center;
}

.sign-in-container form {
  height: 520px;
  width: 400px;
  border: 13px solid rgba(0, 0, 0, 0.19);
  background: #f2f2f2;
  padding: 50px 35px;
}

.sign-in-container form * {
  letter-spacing: 0.5px;
  outline: none;
}

.sign-in-container form h3 {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.sign-in-container label {
  color: #000;
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.sign-in-container input {
  color: #000;
  display: block;
  height: 21px;
  width: 100%;
  border-radius: 6px;
  padding: 0 10px;
  font-size: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #fff;
}

::placeholder {
  color: #000;
}

.sign-in-container .password-forgot {
  display: block;
  margin-top: 12px;
  font-size: 13px;
  font-weight: 500;
  color: black;
  text-decoration: revert;
}

.sign-in-container .form-buttons {
  margin-top: 30px;
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
}

.sign-in-container .form-buttons p {
  margin-top: 25px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

/* SIGN IN FIN */

/*  SIGN UP INICIO */
.sign-up-container {
  padding: 0 90px;
  margin-top: 95px;
  display: grid;
  place-items: center;
}

.sign-up-container .sign-up-header {
  margin-top: 70px;
}

.sign-up-container .sign-up-header h3 {
  margin-bottom: 18px;
  font-size: 64px;
  text-align: center;
  color: #000;
}

.sign-up-container .sign-up-header p {
  font-size: 20px;
  font-weight: 600;
  padding: 0 50px;
}

.form-container {
  width: 100%;
  padding: 50px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.input-field span {
  color: #000;
  font-size: 32px;
  margin-bottom: 7px;
}

.input-field input {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

.input-field input::placeholder {
  color: #a7a7a7;
  font-size: 24px;
}

.phone-code {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #a7a7a7;
}

.phone-code p {
  margin-right: 20px;
}

.findings {
  margin-bottom: 70px;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  justify-items: center;
  font-size: 24px;
  color: #a7a7a7;
}

.terms-conditions {
  font-size: 24px;
}

.terms-conditions label {
  display: flex;
  align-items: center;
  gap: 20px;
}

.terms-conditions input {
  width: 22px;
  height: 22px;
}

.terms-conditions label strong {
  text-decoration: underline;
}

/*  SIGN UP FIN */

/* EMPTY CART INICIO */
.empty-cart-container {
  margin: 200px 0;
  padding-top: 50px;
  display: grid;
  place-items: center;
}

.empty-cart-container .empty-cart-content {
  width: 692px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.empty-cart-container .empty-cart-content h4 {
  font-size: 36px;
  margin-bottom: 18px;
}

.empty-cart-container .empty-cart-content p {
  font-size: 24px;
  text-align: center;
}

/* EMPTY CART FIN */

/* RESPOSIVE VENTA ONLINE*/
/* RESPONSIVE REGISTRARSE */

@media screen and (max-width: 1250px) {
  .explorar-images {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px !important;
    gap: 0 !important;
  }

  .container-images {
    justify-content: center;
    margin: 50px 0;
  }

  .navbar-tienda .search {
    width: 600px;
  }

}

@media screen and (max-width: 1118px) {
  .menu-tienda-session {
    top: 155px;
  }

  .menu-tienda {
    top: 155px;
  }

  .sign-up-container {
    padding: 0 60px;
    margin-top: 60px;
  }

  .sign-up-container .sign-up-header {
    margin-top: 60px;
  }

  .sign-up-container .sign-up-header h3 {
    font-size: 54px;
  }

  .sign-up-container .sign-up-header p {
    font-size: 18px;
  }

  .input-field span {
    font-size: 27px;
  }

  .input-field input::placeholder,
  .phone-code {
    font-size: 22px;
  }


  .terms-conditions {
    font-size: 22px;
  }

  .findings {
    font-size: 22px;
  }

  .terms-conditions input {
    width: 20px;
    height: 20px;
  }

  .sign-in-container {
    padding: 70px;
    margin-top: 85px;
  }
}

@media screen and (max-width: 1000px) {

  .explorar h4 {
    font-size: 3.4rem;
    margin-bottom: 50px;
  }

  .explorar-images-presentacion img {
    width: 450px;
    height: auto;
  }

  .prepared {
    height: 290px;
    background-size: 100% 100%;
  }

  .prepared a {
    font-size: 20px;
    padding: 8px 28px;
  }

  .menu-tienda-session {
    right: 105px;
  }

  .navbar-tienda {
    padding: 0 20px;
    font-size: 17px;
  }

  .navbar-tienda .search {
    width: 430px;
    height: 30px;
  }

  .navbar-tienda .search input {
    font-size: 18px;
  }

  .navbar-tienda .search svg {
    width: 26px;
    height: 26px;
  }

  .navbar-tienda .login i,
  .navbar-tienda .shopping-cart i,
  .navbar-tienda .menu i {
    font-size: 27px;
  }

  .products-container .product-card .product-name {
    font-size: 19px;
  }

  .products-container .product-card .product-price {
    font-size: 34px;
  }

  .products-container .product-card .product-image img {
    width: 90%;
    height: 90%;
  }


  .sign-up-container {
    padding: 0 30px;
    margin-top: 40px;
  }

  .sign-up-container .sign-up-header {
    margin-top: 40px;
  }

  .input-field span {
    font-size: 23px;
  }

  .input-field input::placeholder,
  .phone-code {
    font-size: 21px;
  }

  .terms-conditions {
    font-size: 21px;
  }

  .findings {
    font-size: 21px;
  }

  .btn-primary {
    font-size: 21px;
    padding: 10px 63px
  }

  .btn-secondary {
    font-size: 21px;
  }

}

@media screen and (max-width: 800px) {
  .explorar-images-presentacion img {
    width: 350px;
    height: auto;
  }

  .container-images .card-category {
    width: 165px;
    height: 240px;
    justify-content: space-evenly;
    /* padding: 0 5px; */
  }

  .container-images .card-category p {
    font-size: 18px;
  }

  .container-images img {
    width: 130px;
    height: auto;
  }

  .prepared {
    height: 200px;
    padding-top: 130px;
    background-size: cover;
  }

  .prepared a {
    font-size: 18px;
    padding: 7px 27px;
  }

  .navbar-tienda {
    font-size: 16px;
  }

  .navbar-tienda .search {
    width: 340px;
    height: 28px;
  }

  .navbar-tienda .search input {
    font-size: 16px;
  }

  .navbar-tienda .search svg {
    width: 24px;
    height: 24px;
  }

  .navbar-tienda .login i,
  .navbar-tienda .shopping-cart i,
  .navbar-tienda .menu i {
    font-size: 25px;
  }

  .sign-up-container {
    padding: 0 20px;
    margin-top: 40px;
  }

  .form-container {
    padding: 40px 20px;
  }

  .sign-up-container .sign-up-header {
    margin-top: 40px;
  }

  .sign-up-container .sign-up-header h3 {
    font-size: 47px;
  }

  .sign-up-container .sign-up-header p {
    font-size: 17px;
    padding: 0 20px;
  }

  .input-field span {
    font-size: 20px;
  }

  .input-field input::placeholder,
  .phone-code {
    font-size: 19px;
  }

  .phone-code p {
    margin-right: 15px;
  }

  .terms-conditions {
    font-size: 18px;
  }

  .findings {
    font-size: 18px;
  }

  .btn-primary {
    font-size: 20px;
    padding: 10px 60px
  }

  .btn-secondary {
    font-size: 20px;
  }

  .terms-conditions input {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 700px) {
  .prepared {
    height: 180px;
    padding-top: 100px;
  }

  .prepared a {
    font-size: 14px;
    padding: 5px 25px;
  }

  .container-images .card-category p {
    font-size: 16px;
  }

  .explorar h4 {
    font-size: 2.7rem;
    margin-bottom: 20px;
    padding: 5px;
  }

  .navbar-tienda {
    padding: 0 10px;
    font-size: 15px;
  }

  .navbar-tienda .search {
    width: 240px;
    height: 28px;
  }

  .navbar-tienda .search input {
    font-size: 15px;
  }

  .navbar-tienda .search svg {
    margin-top: 4px;
    width: 18px;
    height: 18px;
  }

  .navbar-tienda .login i,
  .navbar-tienda .shopping-cart i,
  .navbar-tienda .menu i {
    font-size: 22px;
  }

  .sign-up-container {
    padding: 0 10px;
    margin: 20px 0;
  }

  .form-container {
    padding: 30px 10px;
  }

  .sign-up-container .sign-up-header {
    margin-top: 15px;
  }

  .sign-up-container .sign-up-header h3 {
    font-size: 37px;
  }

  .sign-up-container .sign-up-header p {
    font-size: 16px;
    padding: 0 10px;
  }

  .input-field span {
    font-size: 19px;
  }

  .input-field input::placeholder,
  .phone-code {
    font-size: 18px;
  }

  .phone-code p {
    margin-right: 10px;
  }

  .terms-conditions {
    font-size: 17px;
  }

  .findings {
    font-size: 17px;
    margin-bottom: 50px;

  }

  .btn-primary {
    font-size: 19px;
    padding: 8px 45px
  }

  .btn-secondary {
    font-size: 19px;
    padding: 3px 18px;
  }

  .terms-conditions input {
    width: 16px;
    height: 16px;
  }

  .form-buttons {
    margin-top: 20px;
  }

  .form-buttons p {
    margin-top: 20px;
  }

  .input-field {
    margin-bottom: 40px;
  }

  .sign-in-container {
    padding: 50px;
    margin-top: 65px;
  }

}

@media screen and (max-width: 600px) {
  .explorar-images-presentacion img {
    width: 300px;
  }

  .menu-tienda-session {
    right: 85px;
    padding: 0;
  }

  .menu-tienda p {
    font-size: 22px;

  }

  .products-container .product-card .product-name {
    font-size: 18px;
  }

  .products-container .product-card .product-price {
    font-size: 33px;
  }

  .products-container .product-card .product-image img {
    width: 80%;
    height: 80%;
  }

  .sign-up-container .sign-up-header h3 {
    font-size: 35px;
  }

  .input-field span {
    font-size: 17px;
  }

  .input-field input::placeholder,
  .phone-code {
    font-size: 16px;
  }

  .terms-conditions {
    font-size: 15px;
  }

  .findings {
    font-size: 15px;
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1rem 0;

  }

  .btn-primary {
    font-size: 17px;
    padding: 8px 40px
  }

  .btn-secondary {
    font-size: 17px;
    padding: 3px 16px;
  }

  .form-buttons p {
    margin-top: 10px;
  }

  .input-field {
    margin-bottom: 30px;
  }
  .sign-in-container {
    margin-top: 40px;
  }
}

@media (max-width: 560px) {
  .prepared {
    height: 130px;
    padding-top: 80px;
  }

  .prepared a {
    font-size: 13px;
    padding: 3px 23px;
  }

  .container-images .card-category p {
    font-size: 15px;
  }

  .navbar-tienda {
    padding: 0 10px;
    font-size: 14px;
  }

  .navbar-tienda .search {
    width: 200px;
    height: 26px;
  }

  .navbar-tienda .search input {
    font-size: 13px;
  }

  .navbar-tienda .login i,
  .navbar-tienda .shopping-cart i,
  .navbar-tienda .menu i {
    font-size: 20px;
  }

  .sign-in-container form h3 {
    font-size: 30px;
  }

}

@media screen and (max-width: 500px) {
  .explorar-images-presentacion img {
    width: 22vh;
    height: auto;
  }

  .container-images {
    margin: 20px 0 50px 0;
  }

  .explorar h4 {

    font-size: 2rem;
    margin-bottom: 20px;
    padding: 20px 5px 0 5px;
  }

  .menu-tienda-session {
    right: 65px;
  }

  .navbar-tienda {
    padding: 0 10px;
    font-size: 12px;
  }

  .navbar-tienda .menu p {
    display: none;
  }

  .navbar-tienda .login p {
    text-align: center;
  }

  .venta-online-main-container {
    padding: 40px 40px;
  }

  .venta-online-main-container .products-container {
    gap: 30px;
  }

  .venta-online-main-container .products-container .product-card {
    width: 250px;
  }

  .products-container .product-card .product-name {
    font-size: 16px;
  }

  .products-container .product-card .product-price {
    font-size: 27px;
  }

  .products-container .product-card .product-image img {
    width: 75%;
    height: 75%;
  }

  .sign-up-container .sign-up-header h3 {
    font-size: 30px;
  }

  .sign-up-container .sign-up-header p {
    font-size: 15px;
  }

  .input-field span {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .input-field input::placeholder,
  .phone-code {
    font-size: 15px;
  }

  .phone-code p {
    margin-right: 8px;
  }

  .terms-conditions {
    font-size: 14px;
  }

  .findings {
    font-size: 14px;
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1rem 0;
  }

  .btn-primary {
    font-size: 15px;
    padding: 7px 35px
  }

  .btn-secondary {
    font-size: 15px;
    padding: 3px 13px;
  }

  .form-buttons p {
    margin-top: 10px;
  }

  .terms-conditions label {
    gap: 10px;
  }
  .sign-in-container{
    padding: 50px 20px;
  }
  .sign-in-container form{
    width: 350px;
  }
}

@media (max-width: 410px) {
  .explorar-images-presentacion img {
    width: 240px;
  }

  .prepared {
    height: 115px;
    padding-top: 70px;
  }

  .prepared a {
    font-size: 11px;
    padding: 2px 22px;
  }

  .navbar-tienda .search {
    width: 170px;
    height: 25px;
    padding: 0 5px;
  }

  .navbar-tienda .search input {
    font-size: 12px;
  }

  .navbar-tienda .search svg {
    width: 16px;
    height: 16px;
  }

  .navbar-tienda .login i,
  .navbar-tienda .shopping-cart i,
  .navbar-tienda .menu i {
    font-size: 17px;
  }

  .products-container .product-card {
    padding: 35px 25px 5px 25px;
    width: 210px !important;
  }

  .products-container .product-card .product-name {
    font-size: 14px;
  }

  .products-container .product-card .product-price {
    font-size: 25px;
  }

  .products-container .product-card .product-image img {
    width: 70%;
    height: 70%;
  }

  .sign-up-container .sign-up-header h3 {
    font-size: 26px;
  }

  .sign-up-container .sign-up-header p {
    font-size: 14px;
  }

  .form-container {
    padding: 20px 10px;
  }

  .input-field span {
    font-size: 15px;
    margin-bottom: 0;
  }

  .input-field input::placeholder {
    font-size: 14px;
  }

  .findings {
    margin-bottom: 20px;
  }

  .btn-primary {
    font-size: 15px;
    padding: 7px 35px
  }

  .btn-secondary {
    font-size: 15px;
    padding: 3px 13px;
  }

  .form-buttons p {
    margin-top: 10px;
  }

  .input-field {
    margin-bottom: 25px;
  }
  .sign-in-container{
    margin-top: 20px;
    padding: 50px 10px;
  }
  
  .sign-in-container form{
    padding: 20px 15px;
    width: 320px;
  }
  .sign-in-container form h3 {
    font-size: 27px;
}
.sign-in-container label{
  font-size: 15px;
}
.sign-in-container input{
  height: 20px;
}
}

/* FIN RESPONSIVE REGISTRARSE */
/* FIN RESPOSINVE VENTA ONLINE*/